*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(185, 194, 188);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    width: 15rem;
    height: 15rem;
    background: url(Clock.png);
    background-size: 100%;
    border-radius: 50%;
}

.clock1{
    box-shadow:
     5px 5px 15px grey,
     -5px -5px 15px rgb(230, 230, 230),
     inset -3px -3px 15px rgb(230, 230, 230),
     inset 3px 3px 15px grey;
}

.clock2{
    box-shadow:
     5px 5px 15px grey,
     -5px -5px 15px rgb(230, 230, 230),
     inset -3px -3px 15px rgb(230, 230, 230),
     inset 3px 3px 15px grey;
}


#bt{
    position: absolute;
    transform-origin: center;
    bottom: 20%;
    cursor: pointer;
    background: #000;
    color: #eee;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    
}

#center{
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background: rgb(49, 48, 48);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: 4;
}

#hour,#minute,#second{
    transform-origin: bottom;
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);

}

#hour{
    width: 0.25rem;
    height: 3rem;
    background: crimson;
    border-radius:50%;

}
#minute{
    width: 0.2rem;
    height: 4rem;
    background: blue;
    border-radius:50%;

}
#second{
    width: 0.15rem;
    height: 5rem;
    background: black;
    border-radius:50%;

}